<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSV Upload</title>
    </head>
    <body>
        <form action="/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <input type="file" id="csv_file" name="csv_file">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>